include ../mixins/slider-navigation
include ../utils/icon
include ../utils/picture

mixin features()

  -
    const featuresSlides = [
      {
        order: "1",
        pictureHeight: "383",
        pictureAlt: "Мультяшный студент в шапочке сидит за столом с компьютером",
        title: "300+ довольных пользователей",
        description: "Дополнительно в этом методе есть кнопка «Объединить по строкам». С помощью неё можно объединить ячейки выбранного диапазона построчно.",
        list: [
          {
            icon: "users",
            width: 25,
            height: 25,
            span: "Довольные пользователи",
            p: "Изучение тем на вебинарах с преподавателями, наставником. После прохождения курса вы будете"
          },
          {
            icon: "courses",
            width: 20,
            height: 20,
            span: "Образовательные курсы",
            p: "Изучение тем на вебинарах с преподавателями, наставником. После прохождения курса вы будете"
          },
          {
            icon: "teachers",
            width: 14,
            height: 20,
            span: "Менторы из больших компаний",
            p: "Изучение тем на вебинарах с преподавателями, наставником. После прохождения курса вы будете"
          },
        ]
      },
      {
        order: "2",
        pictureHeight: "425",
        pictureAlt: "Мультяшный человечек с головой-монитором смотрит в ноутбук",
        title: "1000+ образовательных курсов",
        description: "Дополнительно в этом методе есть кнопка «Объединить по строкам». С помощью неё можно объединить ячейки выбранного диапазона построчно.",
        list: [
          {
            icon: "users",
            width: 25,
            height: 25,
            span: "Довольные пользователи",
            p: "Изучение тем на вебинарах с преподавателями, наставником. После прохождения курса вы будете"
          },
          {
            icon: "courses",
            width: 20,
            height: 20,
            span: "Образовательные курсы",
            p: "Изучение тем на вебинарах с преподавателями, наставником. После прохождения курса вы будете"
          },
          {
            icon: "teachers",
            width: 14,
            height: 20,
            span: "Менторы из больших компаний",
            p: "Изучение тем на вебинарах с преподавателями, наставником. После прохождения курса вы будете"
          },
        ]
      },
      {
        order: "3",
        pictureHeight: "425",
        pictureAlt: "Мультяшный преподаватель в рубашке и шортах держит ноутбук",
        title: "1000+ образовательных курсов",
        description: "Дополнительно в этом методе есть кнопка «Объединить по строкам». С помощью неё можно объединить ячейки выбранного диапазона построчно.",
        list: [
          {
            icon: "users",
            width: 25,
            height: 25,
            span: "Довольные пользователи",
            p: "Изучение тем на вебинарах с преподавателями, наставником. После прохождения курса вы будете"
          },
          {
            icon: "courses",
            width: 20,
            height: 20,
            span: "Образовательные курсы",
            p: "Изучение тем на вебинарах с преподавателями, наставником. После прохождения курса вы будете"
          },
          {
            icon: "teachers",
            width: 14,
            height: 20,
            span: "Менторы из больших компаний",
            p: "Изучение тем на вебинарах с преподавателями, наставником. После прохождения курса вы будете"
          },
        ]
      }
    ]

  section.features
    .container
      h2.title-secondary.visually-hidden Наши преимущества
      .features__slider.features-slider

        .swiper-wrapper
          each slide, index in featuresSlides
            .swiper-slide.features-slide
              span.features-slide__lead
                | Агрегируем курсы по самым актуальным темам для новичков и практикующих специалистов.
              .features-slide__wrapper
                +picture("slides", "features-" + slide.order, "png", "425", slide.pictureHeight, slide.pictureAlt)
                h2.features-slide__title #{slide.title}
                p.features-slide__text #{slide.description}
              ul.features-slide__list
                each item, i in slide.list
                  if index === i
                    li.features-slide__item.features-slide__item--active
                      +icon(item.icon, item.width, item.height)
                      span.features-slide__item-title #{item.span}
                      p.features-slide__item-description #{item.p}
                  else
                    li.features-slide__item
                      +icon(item.icon)
                      span.features-slide__item-title #{item.span}
                      p.features-slide__item-description #{item.p}
              +slider-navigation("feature-slider__navigation")


